# Thirdweb
THIRDWEB_CLIENT_ID=

# NoCodeBackend API
NCB_INSTANCE=
NCB_SECRET_KEY=
NCB_AUTH_API_URL=
NCB_DATA_API_URL=
NCB_APP_URL=https://app.nocodebackend.com
NCB_FULL_PERMISSIONS_KEY=

EXPO_PUBLIC_API_URL=https://nfar73w0mf.execute-api.us-east-1.amazonaws.com